body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin-top: 1000px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}
.estilo{
    display: flex;
}